
.menu
{
	display: none;
}

.setting:hover .menu
{
	display: block;
	position: absolute;
	top:20px;
	right: 0px;
	width: 130px;
	border:1px solid black;
	border-radius: 10px;
	padding: 3px;
	color:black;
	background: url(div-bk.jpg) repeat padding-box;
}

.menu:hover
{
	display: block;
}